#h1-id{
    color: darksalmon
}
.h1-clase{
    color: yellowgreen;
}
h1{
    color: blue !important;
}
p {
    color: crimson;
}
div {
    background-color: blue;
}
span.frase{
    font-style: italic;
}
span.frase::before{
    content: '<< ';
    font-size: xx-small;
}
span.frase::after{
    content: ' >>';
    font-size: xx-small;
}
.libro{
    background-color: bisque;
    padding: 15px;
    font-family: Arial;
}
.libro p::first-letter{
    font-size: xx-large;
}
.libro p::first-line{
    color: darkcyan;
}
.libro p::selection{
    background-color: darkgray;
    color: aliceblue;
}
.listado li::marker{
    color: darkmagenta;
    
}
.lista-especificidad{
    display: flex;
}