body{
    background-color: #2C3333;
    color: #E7F6F2;
}
.container-hidden{
    background-color: #395B64;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
}
.container-scroll{
    margin-top: 20px;
    background-color: #395B64;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
}
.container-visible{
    margin-top: 20px;
    background-color: #395B64;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: visible;
}
.container-auto{
    margin-top: 20px;
    background-color: #395B64;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: auto;
}