.colores {
    color: orangered;
}
.color-hexadecimal{ 
    color: #BCE784
}
.color-rgb {
    color: rgb(53, 71, 226);
}
color-rgba {
    color: rgba(10, 10, 10, 0.85);
}

.fondo {
    /*background-color: cornflowerblue;*/
    background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
    background-position: center center;
}
.fondo-interno {
    /*background-color: cornflowerblue;*/
    background-image: url("./assets/fondo.jpg");
    background-position: top right;
}

.ancho {
    background-color: bisque;
    width: 220px;
}

.alto {
    background-color: cornsilk;
    width: 400px;
    height: 100px;
}
/* en padding: 10px, 11px, 12px, 13px; (seria: arriba, derecha, abajo e izquierda)*/
.tarjeta {
    background-color: darkslategray;
    color: azure;/*Color de Texto*/
    border-style: solid;/*Estilo del borde*/
    border-color: cadetblue;/*Color de borde*/
    border-width: 1px;/*Grosor del borde*/
    border-radius: 5px;/*Tamaño de las curvas de las esquinas*/ 
    padding: 10px;/*espacio dentro del contenedor a elementos hijos*/
    margin: 30px;/*espacio fuera del contenedor a otros elementos*/
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    background-color: darkcyan;
}

h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: xx-large;
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Tilt+Prism&display=swap');
p{
    font-family: 'Roboto Mono', monospace;
}
